@model EnvironmentWatch.Models.DeviceInfo

@{ ViewData["Title"] = "Home"; }

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['line'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart()
    {
        var data = new google.visualization.DataTable();

        data.addColumn('string', '');
        data.addColumn('number', 'Temp F');
        data.addColumn('number', 'Humidity');
        data.addColumn('number', 'Light');

        // Create and populate the data table
        var hours = [@Html.Raw(Model.HoursDelim)];
        var temps = [@Model.TempDelim];
        var humids = [@Model.HumidDelim];
        var lights = [@Model.LightDelim];

        for (i = 0; i < hours.length; i++) {
            data.addRow([hours[i].toString(), temps[i], humids[i], lights[i]]);
        }

        var options = { chart: { title: ''} };
        var chart = new google.charts.Line(document.getElementById('chart_div'));
        chart.draw(data, options);
    }16
</script>

<div class="jumbotron" style="padding-top: 10px; padding-bottom: 10px;">
    <h3>Environment Watch</h3>
    <p>A simple example of IoT for tracking environmental data over time.</p>
</div>

<div class="row">

    <div class="col-md-3">
        <p><strong>View device:</strong></p>
        <div class="col-sm-4">
            <div class="dropdown">
                <button class="btn btn-success dropdown-toggle" type="button" id="devicesMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    @Model.TypeName
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="devicesMenu">
                    @foreach (var item in Model.Devices)
                    {
                        <li><a href="@Url.Action("Index", new {id = item.ReportingDeviceId})">@item.Name</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <p><strong>Set or add reporting location:</strong></p>
        <div class="row">

            <div class="dropdown col-sm-6">
                <button class="btn btn-info dropdown-toggle" type="button" id="devicesMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    @Model.LocationName
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="devicesMenu">
                    @foreach (var item in Model.Locations)
                    {
                        <li><a href="@Url.Action("ChangeLocation", new {reportingDeviceId = Model.ReportingDeviceId, locationId = item.LocationId})">@item.Name</a></li>
                    }
                </ul>
            </div>

            <div class="col-sm-6" style="text-align: left">
                <a class="btn btn-primary active" href="@Url.Action("AddLocation", "Home")">Add</a>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <p><strong>As of @Model.LastSet.DateOnlyString @Model.LastSet.TimeOnlyString:</strong></p>
        <div class="row" style="margin-top: 16px;">
            <div class="col-sm-4"><span class="label label-primary" style="padding: 12px">@Model.LastSet.TempString F</span></div>
            <div class="col-sm-4"><span class="label label-danger" style="padding: 12px">@Model.LastSet.HumidString %H</span></div>
            <div class="col-sm-4"><span class="label label-warning" style="padding: 12px">@Model.LastSet.LightString %L</span></div>
        </div>
    </div>

    <div class="col-md-3">
        <p><strong>Last local IP:</strong></p>
        <p>
            <a href="http://@Model.LocalIp" target="_blank">@Model.LocalIp</a>
        </p>
    </div>

</div>

<br /><br />

<div class="row">
    <div class="col-md-6">
        <p><strong>Last 8 hours of measurments averaged by hour</strong></p>
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Location</th>
                    <th>Temp</th>
                    <th>Humidity</th>
                    <th>Light</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.RecentMeasurements != null && Model.RecentMeasurements.Any())
            {
                    @for (var i = 0; i < 8; i++)
                {
                        <tr>
                            <td nowrap>@Model.RecentMeasurements[i].DateOnlyString</td>
                            <td nowrap>@Model.RecentMeasurements[i].HourOnlyString</td>
                            <td nowrap>@Model.RecentMeasurements[i].LocationName</td>
                            <td style="text-align: center" nowrap>@Model.RecentMeasurements[i].TempString</td>
                            <td style="text-align: center" nowrap>@Model.RecentMeasurements[i].HumidString</td>
                            <td style="text-align: center" nowrap>@Model.RecentMeasurements[i].LightString</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6">
                            <strong>No recent data available for device</strong>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col-md-6">
        <p><strong>Last 24 hours of measurements averaged by hour</strong></p>
        <div id="chart_div" style="width: 550px; height: 330px"></div>
    </div>

</div>
